{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block content %}
<h2>{{ action }} животное</h2>
<form method="post" enctype="multipart/form-data" novalidate>
  {{ form.hidden_tag() }}

  {{ macros.render_field(form.name) }}
  {{ macros.render_field(form.breed) }}
  {{ macros.render_field(form.age) }}
  {{ macros.render_field(form.gender, 'form-select') }}
  {{ macros.render_field(form.status, 'form-select') }}
  {{ macros.render_field(form.description) }}

  {% if action == 'Добавить' %}
    {{ macros.render_field(form.images) }}
  {% endif %}

  <button class="btn btn-primary" type="submit">{{ action }}</button>
</form>
{% endblock %}

{% block scripts %}
<script>
  const mde = new EasyMDE({ element: document.querySelector('textarea[name="description"]') });
</script>
{% endblock %}
