{% extends 'base.html' %}
{% block content %}
<h2>{{ action }} животное</h2>
<form method="post" enctype="multipart/form-data" novalidate>
  {{ form.hidden_tag() }}
  <div class="mb-3">{{ form.name.label }}{{ form.name(class="form-control") }}</div>
  <div class="mb-3">{{ form.breed.label }}{{ form.breed(class="form-control") }}</div>
  <div class="mb-3">{{ form.age.label }}{{ form.age(class="form-control") }}</div>
  <div class="mb-3">{{ form.gender.label }}{{ form.gender(class="form-select") }}</div>
  <div class="mb-3">{{ form.status.label }}{{ form.status(class="form-select") }}</div>
  <div class="mb-3">{{ form.description.label }}{{ form.description(class="form-control") }}</div>
  {% if action == 'Добавить' %}
    <div class="mb-3">{{ form.images.label }}{{ form.images(class="form-control", multiple=true) }}</div>
  {% endif %}
  <button class="btn btn-primary" type="submit">{{ action }}</button>
</form>
{% endblock %}

{% block scripts %}
<script>
  const mde = new EasyMDE({ element: document.querySelector('textarea[name="description"]') });
</script>
{% endblock %}
